<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %>💚</h1>
  
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } else { %>
    <h3> Please log in to have full Pickle 🥒 experience.</h3>
    <% } %>
</main>

<%- include('./partials/footer') %>
