<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/matches/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    
    <div>Match Date: </div>
    <div>
      <%= match.date %>
      <a href="/matches/<%= match._id %>/edit"><button></button>Edit a Match</a>
    </div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight No: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>

  </section>

  

</main>
  
<%- include('../partials/footer') %>