<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/matches/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p>From the match schedule of <%= match.owner.name %></p>
  <section>
    <div>Match Date: </div>
    <div>
      <%= match.date %>
      <a href="/matches/<%= match._id %>/edit"><button></button>Edit a Match✏️</a>
    </div>
    <div>Match Duration Hour: </div>
    <div><%= match.duration%></div>
    <div>Court Name: </div>
    <div><%= match.courtId %></div>
    <div>Fav Court: </div>
    <div><%= match.fav %></div>
    <div>Match Opponent: </div>
    <div><%= match.friends %></div>

    <% if (user) { %>
      <form 
        action="/matches/<%= match._id %>/flipFav?_method=PATCH" 
        method="POST"
      >
        <button class="btn" type="submit">
          Make this court <%= match.fav ? 'not a fav💔':'a fav💚✨'  %>
        </button>
      </form>
    <% } %>

  </section>

  

</main>
  
<%- include('../partials/footer') %>