<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/matches/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p>From the match schedule of <%= match.owner.name %></p>
  <section>
    <div>Match Date: </div>
    <div>
      <%= match.date %>
    </div>
    <div>Match Duration Hour: </div>
    <div><%= match.durationHr%></div>
    <div>Fav Court: </div>
    <div><%= match.fav %></div>
    <div>Match Opponent: </div>
    <div><%= match.friends %></div>

    <div>Match Court:</div>
    <ul>
      <% match.courts.forEach(court => { %>
        <li><%= court.name %></li>
        <a href="/courts/<%= court._id %>"> <button class="btn-show">DETAILS🔎</button>
      </a>

      <% }) %>
    </ul>


    <% if (user) { %>

      <form id="add-per-to-cast" action="/matches/<%= match._id %>/courts" method="POST">
        <select name="courtId">
          <% courts.forEach(court => { %>
            <option value="<%= court._id %>"><%= court.name %></option>
          <% }) %>
        </select>
        <button type="submit">Add a Court</button>
      </form><br>

      <form 
        action="/matches/<%= match._id %>/flipFav?_method=PATCH" 
        method="POST"
      >
        <button class="btn-show" type="submit">
          Make this court <%= match.fav ? 'not a fav💔':'a fav💚✨'  %>
        </button>
      </form>

      <% if (match.owner.equals(user?.profile._id)) { %>
        <a href="/matches/<%= match._id %>/edit">
          <button class="btn-show">Edit this Match ✍️</button>
        </a>

        <form action="/matches/<%= match._id %>?_method=DELETE" method="POST">
          <button class="btn-show" type="submit">Delete this match ✂️</button>
        </form>
      <% } %>
    

  </section>
  <% } %>

</main>
  
<%- include('../partials/footer') %>