<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/matches/edit.css" />
<%- include('../partials/nav') %>

<main>
    <h1>✍️ <%= title %></h1>
  <form 
    id="new-form" 
    action="/courts/<%= court._id %>?_method=PUT" 
    method="POST"
  >


  <label for="name-input">Court Name:</label>
  <input type="text" value="<%= court.name %>" name="name" id="name-input">
  <label for="location-input">Location:</label>
  <input type="text" value="<%= court.location%>" name="location" id="location-input">
  <label for="phoneNumber">Phone Number:</label>
  <input type="number" value="<%= court.phoneNumber%>" name="phoneNumber" id="phoneNumber-input">

    
  <button class="btn-show" type="submit">Save Match Schedule</button>
  </form>
</main>
<%- include("../partials/footer") %>